blinker                
click                  
cmake                  
colorama               
contourpy              
cycler                 
dlib                   
Flask                  
flask-marshmallow      
Flask-SQLAlchemy       
fonttools              
greenlet               
itsdangerous           
Jinja2                 
joblib                 
kiwisolver             
MarkupSafe             
marshmallow            
marshmallow-sqlalchemy 
matplotlib             
numpy                  
opencv-python          
packaging              
pandas                 
Pillow                 
pip                    
pyparsing              
python-dateutil        
pytz                   
scikit-learn           
scipy
setuptools
six
SQLAlchemy             
threadpoolctl          
typing_extensions      
tzdata                 
Werkzeug               
wheel                  