<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968648410379-1hqlf2rraum4ipqp8lbfgvkpmta7b1gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968648410379-1hqlf2rraum4ipqp8lbfgvkpmta7b1gq</string>
	<key>API_KEY</key>
	<string>AIzaSyCByKUqi-TM4omL5QWxfQtJ0z2fj_IzdYo</string>
	<key>GCM_SENDER_ID</key>
	<string>968648410379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dash</string>
	<key>PROJECT_ID</key>
	<string>dash-login-779b0</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-login-779b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968648410379:ios:50b097726a015e60214e0e</string>
</dict>
</plist>